* {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 26px 0;
  border: 0;
  background: #fff;
  padding: 20px 150px;
  outline: none;
  color: #000;
  transition: 0.5s;
}
.contact-form-text:focus {
  box-shadow: 0 0 10px 4px aqua;
}
textarea.contact-form-text {
  resize: none;
  height: 320px;
}
.contact-form-btn {
  float: right;
  border: 0;
  background: aqua;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover {
  background: aqua;
}
